<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Runners</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>All Races</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Distance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="competition : ${competitions}">
            <td><span th:text="${competition.competitionName}">Title </span></td>
            <td><span th:text="${competition.distance}">Title </span></td>
            <td>
                <div>
                    <a th:href="@{/update/{id}(id=${competition.competitionId})}">
                        <button class="btn btn-outline-warning">Update</button>
                    </a>
                </div>
            </td>
            <td>
                <div>

                    <a th:href="@{/api/v1/runnercompetition/getRaceRunners/{id}(id=${competition.competitionId})}">
                        <button class="btn btn-outline-dark">Details/Add new result</button>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="col col-5">
        <h1>Add new race</h1>
        <form action="/addRace" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="competitionName" name="competitionName"
                       placeholder="Enter the name of the race" required>
            </div>
            <div class="form-group form-floating">
                <input type="tel" class="form-control" id="distance" name="distance" placeholder="Enter the distance"
                       required>
            </div>
            <button type="submit" class="btn btn-primary">Submit new race</button>
        </form>
        <div style="padding-top: 25px">
            <a href="/">
                <button type="button" class="btn btn-secondary">Back to Start</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>