<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Runners</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>All Races</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Distance</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="competition : ${competitions}">
            <td><span th:text="${competition.competitionName}">Title </span></td>
            <td><span th:text="${competition.distance}">Title </span></td>
            <td>
                <div>
                    <a th:href="@{/update/{id}(id=${competition.competitionId})}">
                        <button class="btn btn-outline-warning">Update</button>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div class="col col-5">
        <h1>Add race</h1>
        <form action="/addRace" method="post">
            <div class="form-group">
                <input type="text" class="form-control" id="competitionName" name="competitionName" placeholder="Enter the name of the race" required>
            </div>
            <div class="form-group form-floating">
                <input type="tel" class="form-control" id="distance" name="distance" placeholder="Enter the distance" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Race</button>
        </form>
        <div style="padding-top: 25px">
            <a href="/">
                <button type="button" class="btn btn-secondary">Back to Start</button>
            </a>
        </div>
    </div>
</div>
<!--
<div class="container">
    <div class="col col-5">
        <h1>Add runner</h1>
        <form th:action="@{/api/v1/runnercompetition/addRunner}" th:object="${runnerEntity}" method="post">
            <div class="form-group">
                <input class="form-control" type="text" id="runnerName" name="name" placeholder="Enter runner name">

            </div>
            <div class="form-group">
                <input class="form-control" type="number" id="runnerAge" name="age" placeholder="Enter runner age">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="female" name="sex" value="Female">
                <label for="Female">Female</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="male" name="sex" value="Male">
                <label for="Male">Male</label>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
           &lt;!&ndash; <label>Name:</label><br>
            <input type="text" th:field="*{runnerEntity.runnerName}" placeholder="Runner name"><br>
            <label>Age:</label><br>
            <input type="number" th:value="*{runnerEntity.runnerAge}" name="runnerAge"><br>
            <label>Sex:</label><br>
            <input type="radio" th:checked="*{runnerEntity.sex}" name="sex" value="MALE"> Male<br>
            <input type="radio" th:checked="*{runner.sex}" name="sex" value="FEMALE"> Female<br>
            <input type="submit" value="Add Runner">&ndash;&gt;
        </form>
    </div>
</div>-->
</body>
</html>


<!-- <form th:action="@{/addRunner}" method="post">
            <div class="form-group">
                <input class="form-control" type="text" id="runnerName" name="name" placeholder="Enter runner name">

            </div>
            <div class="form-group">
                <input class="form-control" type="number" id="runnerAge" name="age" placeholder="Enter runner age">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="female" name="sex" value="Female">
                <label for="Female">Female</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="male" name="sex" value="Male">
                <label for="Male">Male</label>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>-->