<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding a new runner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>List of airports</h1>
        <form th:action="@{/addRunner}" method="post">
        Name: <input th:field="*{runnerName}" /> <br/>
        Age: <input th:field="*{runnerAge}" /> <br/>
            <select name = "enumSex">
                Sex: <input th:each="*{runnerSex}" th:value="*{runnerSex}" th:text=*{runnerSex}" /> <br/>
            </select>
        <input type="submit" value="Add" />
    </form>
</div>
</body>
</html>

-->
